name: Build, publish and deploy docker

on:
  push:
    branches: ['main']
    tags:
      - 'v*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    name: Build and push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=tag,enable=${{ startsWith(github.ref, 'refs/tags/v') }}
            type=raw,value=latest,enable=${{ startsWith(github.ref, 'refs/tags/v') }}
            type=raw,value=test,enable=true
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          build-args: |
            APP_VERSION=${{ github.ref_name }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}


  deploy-testing:
    name: Deploy Testing
    needs: build-and-push-image
    runs-on: [self-hosted, Linux]
    environment:
      name: Testing
      url: https://api.test.profcomff.com/printer
    env:
      CONTAITER_NAME: com_profcomff_api_printer_test
    permissions:
      packages: read

    steps:
      - name: Pull new version
        run: docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:test

      - name: Migrate DB
        run: |
          docker run \
            --rm \
            --network=web \
            --workdir="/" \
            --env DB_DSN=${{ secrets.DB_DSN }} \
            --name ${{ env.CONTAITER_NAME }}_migration \
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:test \
            alembic upgrade head

      - name: Run test redis
        id: run_test_redis
        run: |
          docker stop ${{ env.CONTAITER_NAME }}_redis || true && docker rm ${{ env.CONTAITER_NAME }}_redis || true
          docker run \
            --detach \
            --restart on-failure:3 \
            --network=com_profcomff_api_printer_test_network \
            --name ${{ env.CONTAITER_NAME }}_redis \
            redis:7

      - name: Run test version
        id: run_test
        run: |
          docker stop ${{ env.CONTAITER_NAME }} || true && docker rm ${{ env.CONTAITER_NAME }} || true
          docker run \
            --detach \
            --restart on-failure:3 \
            --network=web \
            --volume com_profcomff_api_printer_test_static:/app/static \
            --env DB_DSN=${{ secrets.DB_DSN }} \
            --env ROOT_PATH='/print' \
            --env REDIS_DSN='redis://${{ env.CONTAITER_NAME }}_redis' \
            --env SECRET_KEY='${{ secrets.SECRET_KEY }}' \
            --env PIN_SYMBOLS=0123456789 \
            --env PIN_LENGTH=8 \
            --env QR_TOKEN_PREFIX='https://printer.ui.test.profcomff.com#' \
            --env GUNICORN_CMD_ARGS='--log-config  logging_test.conf' \
            --env ALLOW_STUDENT_NUMBER=true \
            --env STATIC_FOLDER=/app/static \
            --env AUTH_URL=https://auth.api.test.profcomff.com/ \
            --name ${{ env.CONTAITER_NAME }} \
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:test
          docker network connect com_profcomff_api_printer_test_network ${{ env.CONTAITER_NAME }}


  deploy-production:
    name: Deploy Production
    needs: build-and-push-image
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: [self-hosted, Linux]
    environment:
      name: Production
      url: https://api.profcomff.com/printer
    env:
      CONTAITER_NAME: com_profcomff_api_printer
    permissions:
      packages: read

    steps:
      - name: Pull new version
        run: docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

      - name: Migrate DB
        run: |
          docker run \
            --rm \
            --network=web \
            --workdir="/" \
            --env DB_DSN=${{ secrets.DB_DSN }} \
            --name ${{ env.CONTAITER_NAME }}_migration \
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest \
            alembic upgrade head

      - name: Run prod redis
        id: run_prod_redis
        run: |
          docker stop ${{ env.CONTAITER_NAME }}_redis || true && docker rm ${{ env.CONTAITER_NAME }}_redis || true
          docker run \
            --detach \
            --restart always \
            --network=com_profcomff_api_printer_network \
            --name ${{ env.CONTAITER_NAME }}_redis \
            redis:7

      - name: Run prod version
        id: run_prod
        run: |
          docker stop ${{ env.CONTAITER_NAME }} || true && docker rm ${{ env.CONTAITER_NAME }} || true
          docker run \
            --detach \
            --restart always \
            --network=web \
            --volume com_profcomff_api_printer_static:/app/static \
            --env DB_DSN='${{ secrets.DB_DSN }}' \
            --env ROOT_PATH='/print' \
            --env REDIS_DSN='redis://${{ env.CONTAITER_NAME }}_redis' \
            --env SECRET_KEY='${{ secrets.SECRET_KEY }}' \
            --env PIN_SYMBOLS=0123456789 \
            --env PIN_LENGTH=8 \
            --env QR_TOKEN_PREFIX='https://app.profcomff.com/apps#' \
            --env GUNICORN_CMD_ARGS='--log-config  logging_prod.conf' \
            --env ALLOW_STUDENT_NUMBER=true \
            --env STATIC_FOLDER=/app/static \
            --env AUTH_URL=https://auth.api.profcomff.com/ \
            --name ${{ env.CONTAITER_NAME }} \
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          docker network connect com_profcomff_api_printer_network ${{ env.CONTAITER_NAME }}
